<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Create a New Wish List Item</h1>
    <div class="messages">
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </div>
    <form action="/create_item" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name">
            <input type="submit" value="Add">
        </div>
    </form>
</body>
</html>