<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Hello, {{ user.name }}</h1>
    <a href="/logout">Logout</a>
    <h4>Your Wish List</h4>
    <div id="WishList">
        <table>
            <tr>
                <th>Item</th>
                <th>Added By</th>
                <th>Date Added</th>
                <th>Action</th>
            </tr>
            {% for wished_item in wished_items %}
                {% if user_uploaded == session.user_id %}
                <tr>
                    <td><a href="/wish_items/{{ wished_item.id }}">{{ wished_item.name }}</a></td>
                    <td>{{ wished_item.added_by.name}}</td>
                    <td>{{ wished_item.created_at}}</td>
                    <td><a href="/delete_item/{{ wished_item.id }}">Delete</a></td>
                </tr>
                {% else %}
                <tr>
                    <td><a href="/wish_items/{{ wished_item.id }}">{{ wished_item.name }}</a></td>
                    <td>{{ wished_item.added_by.name}}</td>
                    <td>{{ wished_item.created_at}}</td>
                    <td><a href="/remove_from_list/{{ wished_item.id }}">Remove From My Wishlist</a></td>
                </tr>
                {% endif %}
            {% endfor %}
        </table>
    <div id="OtherWishList">
        <table>
            <tr>
                <th>Item</th>
                <th>Added By</th>
                <th>Date Added</th>
                <th>Action</th>
            </tr>
            {% for other_wish in other_wishs %}
            <tr>
                <td><a href="/wish_items/{{ other_wish.id }}">{{ other_wish.name }}</a></td>
                <td>{{ other_wish.added_by.name}}</td>
                <td>{{ other_wish.created_at}}</td>
                <td><a href="/add_to_list/{{ other_wish.id }}">Add to Wishlist!</td>
            </tr>
            {% endfor %}
        </table>
        <a href="/create">Add Item</a>
    </div>
</body>
</html>